.decor {
  font-family: 'calibre-light', sans-serif;
  font-size: 20px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: rgba(15, 32, 108, 0.7);

  &::after {
    margin-left: 20px;
    flex-grow: 1;
    content: '';
    display: block;
    height: 1px;
    background-color: rgba(15, 32, 108, 0.15);
  }
}

.decor--white-line {
  &::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.decor--noline {
  &::after {
    content: none;
  }
}

.decor--orange {
  color: orange;
}

.decor--blue {
  color: blue;
}

// THEMES
.dark-theme {
  .decor {
    color: white;

    &::after {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}



@media screen and (min-width: 1024) {
  .decor {
    // @include fluid-type($min_width, $max_width, 16px, 18px);
  }
}

// @media screen and (min-width: $screen-md) {
// }

// @media screen and (min-width: $screen-lg) {
// }
