body, html {
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    margin: 0;

  }
  @font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 600;
@font-weight-semibold: 800;

  .container {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    
    &::selection {
      background: none;
    }
  }

  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   font-family: "Montserrat-Light" , sans-serif;
  //   color: purple;
  //   }

  // a {
  //   font-weight: 500;
  // }
  //=============================
//  [Links]
//=============================

a {
  text-decoration: none;
  outline: 0;
}

a:hover,
a:active,
a:focus {
  outline: 0;
}

a:hover {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   
  }
}

//=============================
//  [Headers]
//=============================

// http://engageinteractive.co.uk/blog/em-vs-rem-vs-px
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 100;
  width: 100%;
  line-height: 1.1;
  color: white;
  transition: color 300ms ease;
}

h1 {
  font-size: 68px;

  @media screen and (max-width: $screen-tablet) {
    font-size: 58px;
  }
}

h2 {
  font-size: 48px;

  @media screen and (min-width: $screen-sm) {
     font-size: 52px;
  }
}

h3 {
  font-size: 28px;

  @media screen and (min-width: $screen-sm) {
    font-size: 34px;
  }
}

h4 {  font-size: 18px;

  @media screen and (min-width: $screen-sm) {
    font-size: 24px;
  }
}

h5 {
  @include fontSizes(18px, 18px 18px, 18px);
  text-transform: uppercase;
}

h6 {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
  @include fontSizes(12px, 12px 12px, 12px);
}

@media screen and (min-width: $screen-sm) {
}

@media screen and (min-width: $screen-md) {
}

@media screen and (min-width: $screen-lg) {
}

//=============================
//  [Paragraph]
//=============================
p {
  font-size: inherit;
  line-height: 1.4;
  margin: 0;
}

@media screen and (min-width: $screen-sm) {
  p {
  }
}

@media screen and (min-width: $screen-md) {
  p {
  }
}

@media screen and (min-width: $screen-lg) {
  p {
  }
}

//=============================
//  [Strong]
//=============================
strong {
  font-family: 'Montserrat-semibold', sans-serif;
  font-weight: 100;
}

@media screen and (min-width: $screen-sm) {
  strong {
  }
}

@media screen and (min-width: $screen-md) {
  strong {
  }
}

@media screen and (min-width: $screen-lg) {
  strong {
  }
}

//=============================
//  [Blockquote]
//=============================
blockquote {
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: $screen-sm) {
  blockquote {
    font-size: 15px;
  }
}

@media screen and (min-width: $screen-md) {
  blockquote {
    font-size: 17px;
  }
}

@media screen and (min-width: $screen-lg) {
  blockquote {
    font-size: 20px;
  }
}

//=============================
//  [Lists]
//=============================

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  //background-image: url('/assets/images/svg/list-marker.svg');
  background-repeat: no-repeat;
  background-position: left 6px;
  padding-left: 36px;
  margin-bottom: 5px;
}

@media screen and (min-width: $screen-sm) {
  .list li {
    //background-position: left 3px;
    font-size: 14px;
  }
}

// //=============================
// //  [Menu]
// //=============================

// menu {
//   font-size: 24px;
//   text-transform: uppercase;
//   font-family: 'calibre-semibold';
//   text-align: left;
//   color: $white;
// }
