body, html {
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    margin: 0;

  }

  .container {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    
    &::selection {
      background: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat-Light" , sans-serif;
    color: purple;
    }

  a {
    font-weight: 500;
  }
  