body, html {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }

  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 $p-xs;
    &::selection {
      background: none;
    }
  }
  