@font-face {
    font-family: "Montserrat-Bold" ,sans-serif;
  
    src: url("./fonts/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
     url("./fonts/Montserrat-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat-SemiBold" ,sans-serif;
  
    src: url("./fonts/Montserrat-SemiBold.woff") format("woff"), /* Modern Browsers */
     url("./fonts/Montserrat-SemiBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat-Light" , sans-serif;
  
    src: url("./fonts/Montserrat-Light.woff") format("woff"), /* Modern Browsers */
      url("./fonts/Montserrat-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat-Regular" , sans-serif;
  
    src: url("./fonts/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
      url("./fonts/Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  